<ion-header>
    <ion-toolbar class="header-toolbar">
      <div class="title">
        <div>
          <ion-icon src="assets/sei-logo.svg" alt="SEI Logo" class="icon"></ion-icon>  
        </div>
        <div>
          <ion-title>Science Education Institute</ion-title>
          <ion-title>science-scholarships.ph</ion-title>
        </div>
      </div>
      <ion-buttons slot="end" class="nav-buttons">
        <ion-button routerLink="/home">HOME</ion-button>
        <ion-button routerLink="/events">BLOG</ion-button>
        <ion-button routerLink="/login">LOGIN</ion-button>
        <ion-button routerLink="/apply">SIGNUP</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>